.cards{ 
    justify-content: center !important;
    margin-top: 35rem;
}

@media screen and (max-width: 1440px) {
    .cards{
        margin-top: 35rem;
    }
}    
@media screen and (max-width: 1024px) {
    .cards{
        margin-top: 85rem;
    }
}    
@media screen and (max-width: 768px) {
    .cards{
        margin-top: 170rem;
    }
}    
@media screen and (max-width: 320px) {
    .cards{
        margin-top: 170rem;
        margin-left: 1rem;
    }
}